In [148]:
import os
import sys
import pandas as pd
import numpy as np

## breast_cancer

In [149]:
data_name = 'breast_cancer'
data = pd.read_csv('data/original/breast-cancer-wisconsin.data',header = None)

In [150]:
cols = ['id','clump_thickness','uniformity_cell_size'
       ,'uniformity_cell_shape','marginal_adhesion'
       ,'single_epithelial_cell_size','bare_nuclei'
       ,'bland_chromatin','normal_nucleoli','mitoses'
       ,'target']

In [151]:
data.columns = cols
data = data.iloc[:,1:].copy()
data['bare_nuclei'] = data['bare_nuclei'].apply(str)
data = data.loc[data['bare_nuclei'] != '?',:].copy()
data.index = range(len(data))
data['bare_nuclei'] = data['bare_nuclei'].apply(int)

In [152]:
cols = list(data.columns)
cols.remove('target')
data[cols] = (data[cols] - data[cols].mean())/data[cols].std()

In [153]:
data.to_csv('data/processed/' + data_name + '.csv',index = False)

In [154]:
data.shape

(683, 10)

In [155]:
data.head()

,clump_thickness,uniformity_cell_size,uniformity_cell_shape,marginal_adhesion,single_epithelial_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,target
0,0.197760,-0.701698,-0.741230,-0.638897,-0.555202,-0.698341,-0.181694,-0.612478,-0.348145,2
1,0.197760,0.277049,0.262591,0.757477,1.693925,1.771569,-0.181694,-0.284896,-0.348145,2
2,-0.511269,-0.701698,-0.741230,-0.638897,-0.555202,-0.423907,-0.181694,-0.612478,-0.348145,2
3,0.552274,1.582044,1.601018,-0.638897,-0.105376,0.124962,-0.181694,1.353016,-0.348145,2
4,-0.156754,-0.701698,-0.741230,0.059290,-0.555202,-0.698341,-0.181694,-0.612478,-0.348145,2

In [156]:
data['target'].value_counts()

2    444
4    239
Name: target, dtype: int64

## yeast

In [157]:
data_name = 'yeast'
data = pd.read_csv('data/original/yeast.data',sep = '\s+',header = None)

In [158]:
cols = ['sequence_name','mcg','gvh','alm','mit'
       ,'erl','pox','vac','nuc','target']

In [159]:
data.columns = cols
data = data.iloc[:,1:].copy()

In [160]:
cols = list(data.columns)
cols.remove('target')
data[cols] = (data[cols] - data[cols].mean())/data[cols].std()

In [161]:
data.to_csv('data/processed/' + data_name + '.csv',index = False)

In [162]:
data.shape

(1484, 9)

In [163]:
data.head()

,mcg,gvh,alm,mit,erl,pox,vac,nuc,target
0,0.581785,0.888182,-0.346528,-0.956880,-0.097557,-0.099098,-0.344059,-0.527741,MIT
1,-0.510719,1.372348,-0.231148,0.064290,-0.097557,-0.099098,0.521044,-0.527741,MIT
2,1.018787,0.968876,-0.115769,-0.810999,-0.097557,-0.099098,0.521044,-0.527741,MIT
3,0.581785,-0.483623,0.807270,-0.956880,-0.097557,-0.099098,0.694064,-0.527741,NUC
4,-0.583552,-0.483623,-0.231148,2.033690,-0.097557,-0.099098,-0.344059,-0.527741,MIT

In [164]:
data['target'].value_counts()

CYT    463
NUC    429
MIT    244
ME3    163
ME2     51
ME1     44
EXC     35
VAC     30
POX     20
ERL      5
Name: target, dtype: int64

## segmentation

In [209]:
data_name = 'segmentation'
data = pd.read_csv('data/original/segmentation.data',header = 2)

In [210]:
cols = ["REGION-CENTROID-COL", "REGION-CENTROID-ROW", "REGION-PIXEL-COUNT",
       "SHORT-LINE-DENSITY-5", "SHORT-LINE-DENSITY-2", "VEDGE-MEAN",
       "VEDGE-SD", "HEDGE-MEAN", "HEDGE-SD", "INTENSITY-MEAN", "RAWRED-MEAN",
       "RAWBLUE-MEAN", "RAWGREEN-MEAN", "EXRED-MEAN", "EXBLUE-MEAN",
       "EXGREEN-MEAN", "VALUE-MEAN", "SATURATION-MEAN", "HUE-MEAN"]

In [211]:
cols.remove('REGION-PIXEL-COUNT')

In [212]:
data = data[cols]
data['target'] = data.index

In [213]:
data.index = range(len(data))

In [214]:
cols = list(data.columns)
cols.remove('target')
data[cols] = (data[cols] - data[cols].mean())/data[cols].std()

In [215]:
data.to_csv('data/processed/' + data_name + '.csv',index = False)

In [216]:
data.shape

(210, 19)

In [217]:
data.head()

,REGION-CENTROID-COL,REGION-CENTROID-ROW,SHORT-LINE-DENSITY-5,SHORT-LINE-DENSITY-2,VEDGE-MEAN,VEDGE-SD,HEDGE-MEAN,HEDGE-SD,INTENSITY-MEAN,RAWRED-MEAN,RAWBLUE-MEAN,RAWGREEN-MEAN,EXRED-MEAN,EXBLUE-MEAN,EXGREEN-MEAN,VALUE-MEAN,SATURATION-MEAN,HUE-MEAN,target
0,0.207173,0.038577,-0.286499,-0.211099,-0.521610,-0.130048,-0.403805,-0.116308,-0.799071,-0.721271,-0.829698,-0.829496,1.368065,-0.869631,0.045583,-0.858342,0.538437,0.140168,BRICKFACE
1,0.854911,0.176177,-0.286499,-0.211099,-0.504019,-0.125365,-0.438540,-0.118704,-0.786623,-0.693135,-0.827161,-0.820501,1.502634,-0.928853,0.005193,-0.842923,0.507405,0.266499,BRICKFACE
2,-0.265136,0.279376,-0.286499,-0.211099,-0.521610,-0.129026,-0.369071,-0.114141,-0.800987,-0.715019,-0.839844,-0.829496,1.444961,-0.928853,0.065778,-0.863482,0.481222,0.240125,BRICKFACE
3,-1.223248,0.244977,-0.286499,-0.211099,-0.451247,-0.127664,-0.311179,-0.114635,-0.807690,-0.708766,-0.857599,-0.835492,1.569918,-1.011763,0.075876,-0.858342,0.661596,0.382278,BRICKFACE
4,-1.155776,-0.202222,-0.286499,-0.211099,-0.380883,-0.122895,-0.357492,-0.115091,-0.802902,-0.730650,-0.829698,-0.832494,1.320005,-0.845942,0.055681,-0.855772,0.614466,0.105569,BRICKFACE

In [218]:
data['target'].value_counts()

BRICKFACE    30
SKY          30
GRASS        30
FOLIAGE      30
WINDOW       30
CEMENT       30
PATH         30
Name: target, dtype: int64

## waveform

In [219]:
data_name = 'waveform'
data = pd.read_csv('data/original/waveform.data',header = None)

In [220]:
cols = ['col' + str(x) for x in range(21)]
data.columns = cols + ['target']

In [221]:
cols = ["col0", "col1", "col2", "col3", "col4", "col5", "col6", "col7", "col8",
       "col9", "col10", "col11", "col12", "col13", "col14", "col15", "col16",
       "col17", "col18", "col19", "col20"]

In [222]:
# data = data.sample(5000)
# data.index = range(len(data))

In [223]:
cols = list(data.columns)
cols.remove('target')
data[cols] = (data[cols] - data[cols].mean())/data[cols].std()

In [224]:
data.to_csv('data/processed/' + data_name + '.csv',index = False)

In [225]:
data.shape

(5000, 22)

In [226]:
data.head()

,col0,col1,col2,col3,col4,col5,col6,col7,col8,col9,...,col12,col13,col14,col15,col16,col17,col18,col19,col20,target
0,-1.222757,-1.802054,-2.039141,-0.898513,-0.423578,0.122751,-0.898814,-1.402711,-1.726764,-1.370330,...,0.127812,2.898318,0.962137,0.634841,2.266518,1.641671,0.449767,-0.108477,-0.540208,2
1,-0.688173,1.984758,-0.052559,0.769050,0.589357,0.690499,1.417914,1.082875,0.179113,-0.501903,...,-0.871227,-0.431013,-0.380266,-1.844885,-0.302424,0.289760,0.934180,0.224444,2.448567,1
2,-0.123889,-1.213627,0.519847,1.129414,0.660858,0.855862,1.130183,0.338344,-0.464196,-0.599846,...,-0.108325,-1.436630,-0.613081,0.430498,-0.416200,-0.269407,-0.560818,-1.061001,-0.098912,0
3,0.846283,-0.046264,1.277442,-0.714798,-0.107781,0.282603,-0.144761,1.598319,1.670145,1.208831,...,-0.059887,-0.709404,-0.697291,-0.326122,-0.158707,-1.720410,1.819486,-1.421666,1.144739,1
4,1.143274,0.029662,-0.229331,-1.117557,0.803860,-0.549726,0.013987,0.802244,1.604011,0.353464,...,0.981535,-0.459420,-0.454568,-0.988855,-0.907233,-0.616232,-0.727857,-1.070249,-0.660561,1

In [227]:
data['target'].value_counts()

2    1696
0    1657
1    1647
Name: target, dtype: int64

## australian

In [228]:
data_name = 'australian'
data = pd.read_csv('data/original/australian.dat',sep = '\s+' ,header = None)

In [229]:
cols = ['col' + str(x) for x in range(14)]
data.columns = cols + ['target']

In [230]:
cols = ["col0", "col1", "col2", "col3", "col4", "col5", "col6", "col7", "col8",
       "col9", "col10", "col11", "col12", "col13"]

In [231]:
cols = list(data.columns)
cols.remove('target')
data[cols] = (data[cols] - data[cols].mean())/data[cols].std()

In [232]:
data.to_csv('data/processed/' + data_name + '.csv',index = False)

In [233]:
data.shape

(690, 15)

In [234]:
data.head()

,col0,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,col11,col12,col13,target
0,0.688238,-0.800471,1.346134,0.542556,-0.915618,-0.347713,-0.190767,-1.046745,-0.863570,-0.493529,1.087120,0.237655,-0.488004,0.037353,0
1,-1.450880,-0.750696,0.450221,0.542556,0.170375,-0.347713,-0.615090,-1.046745,-0.863570,-0.493529,-0.918529,0.237655,-0.139490,-0.195272,0
2,-1.450880,-0.167735,-0.604384,-1.782685,-0.915618,-0.347713,-0.290872,-1.046745,-0.863570,-0.493529,1.087120,0.237655,0.557539,-0.195272,0
3,-1.450880,-0.835061,1.354169,-1.782685,-0.644120,-0.849641,-0.664395,0.953958,1.156306,1.768477,1.087120,0.237655,-1.068862,-0.195272,1
4,0.688238,-0.961608,0.685248,0.542556,-0.372622,-0.347713,-0.078711,0.953958,1.156306,2.385388,-0.918529,0.237655,-0.720347,-0.164946,1

## Automobile

In [235]:
data_name = 'automobile'
data = pd.read_csv('data/original/automobile.data' ,header = None)

In [236]:
cols = ['target','losses','make','fuel-type','aspiration','num-of-door'
       ,'body-style','drive-wheels','engine-location','wheel-base','length'
       ,'width','height','curb-weight','engine-type','num-of-cylinders'
       ,'engine-size','fuel-system','bore','stroke','compression','horsepower'
       ,'peak-rpm','city-mpg','highway-mpg','price']

In [237]:
data.columns = cols

## Wine

In [238]:
data_name = 'wine'
data = pd.read_csv('data/original/wine-red.csv' ,sep = ';')

In [239]:
data = data.rename(columns = {'quality' : 'target'})

In [240]:
data['target'] = (data['target'] - data['target'].mean())/data['target'].std()

In [241]:
cols = list(data.columns)
cols.remove('target')
data[cols] = (data[cols] - data[cols].mean())/data[cols].std()

In [242]:
data.to_csv('data/processed/' + data_name + '.csv',index = False)

In [243]:
data.shape

(1599, 12)

## Crime

In [244]:
data_name = 'crime'
data = pd.read_csv('data/original/crime.data' ,sep = ',', header = None)

In [245]:
cols = ['state',
'county',
'community',
'communityname string',
'fold',
'population',
'householdsize',
'racepctblack',
'racePctWhite',
'racePctAsian',
'racePctHisp',
'agePct12t21',
'agePct12t29',
'agePct16t24',
'agePct65up',
'numbUrban',
'pctUrban',
'medIncome',
'pctWWage',
'pctWFarmSelf',
'pctWInvInc',
'pctWSocSec',
'pctWPubAsst',
'pctWRetire',
'medFamInc',
'perCapInc',
'whitePerCap',
'blackPerCap',
'indianPerCap',
'AsianPerCap',
'OtherPerCap',
'HispPerCap',
'NumUnderPov',
'PctPopUnderPov',
'PctLess9thGrade',
'PctNotHSGrad',
'PctBSorMore',
'PctUnemployed',
'PctEmploy',
'PctEmplManu',
'PctEmplProfServ',
'PctOccupManu',
'PctOccupMgmtProf',
'MalePctDivorce',
'MalePctNevMarr',
'FemalePctDiv',
'TotalPctDiv',
'PersPerFam',
'PctFam2Par',
'PctKids2Par',
'PctYoungKids2Par',
'PctTeen2Par',
'PctWorkMomYoungKids',
'PctWorkMom',
'NumIlleg',
'PctIlleg',
'NumImmig',
'PctImmigRecent',
'PctImmigRec5',
'PctImmigRec8',
'PctImmigRec10',
'PctRecentImmig',
'PctRecImmig5',
'PctRecImmig8',
'PctRecImmig10',
'PctSpeakEnglOnly',
'PctNotSpeakEnglWell',
'PctLargHouseFam',
'PctLargHouseOccup',
'PersPerOccupHous',
'PersPerOwnOccHous',
'PersPerRentOccHous',
'PctPersOwnOccup',
'PctPersDenseHous',
'PctHousLess3BR',
'MedNumBR',
'HousVacant',
'PctHousOccup',
'PctHousOwnOcc',
'PctVacantBoarded',
'PctVacMore6Mos',
'MedYrHousBuilt',
'PctHousNoPhone',
'PctWOFullPlumb',
'OwnOccLowQuart',
'OwnOccMedVal',
'OwnOccHiQuart',
'RentLowQ',
'RentMedian',
'RentHighQ',
'MedRent',
'MedRentPctHousInc',
'MedOwnCostPctInc',
'MedOwnCostPctIncNoMtg',
'NumInShelters',
'NumStreet',
'PctForeignBorn',
'PctBornSameState',
'PctSameHouse85',
'PctSameCity85',
'PctSameState85',
'LemasSwornFT',
'LemasSwFTPerPop',
'LemasSwFTFieldOps',
'LemasSwFTFieldPerPop',
'LemasTotalReq',
'LemasTotReqPerPop',
'PolicReqPerOffic',
'PolicPerPop',
'RacialMatchCommPol',
'PctPolicWhite',
'PctPolicBlack',
'PctPolicHisp',
'PctPolicAsian',
'PctPolicMinor',
'OfficAssgnDrugUnits',
'NumKindsDrugsSeiz',
'PolicAveOTWorked',
'LandArea',
'PopDens',
'PctUsePubTrans',
'PolicCars',
'PolicOperBudg',
'LemasPctPolicOnPatr',
'LemasGangUnitDeploy',
'LemasPctOfficDrugUn',
'PolicBudgPerPop',
'target']

In [246]:
data.columns = cols

In [247]:
data = data.loc[:,data.dtypes != 'object']
data = data.drop(columns = 'fold')

In [248]:
data.shape

(1994, 101)

In [249]:
data['target'] = (data['target'] - data['target'].mean())/data['target'].std()

In [250]:
data.head()

,state,population,householdsize,racepctblack,racePctWhite,racePctAsian,racePctHisp,agePct12t21,agePct12t29,agePct16t24,...,PctForeignBorn,PctBornSameState,PctSameHouse85,PctSameCity85,PctSameState85,LandArea,PopDens,PctUsePubTrans,LemasPctOfficDrugUn,target
0,8,0.19,0.33,0.02,0.90,0.12,0.17,0.34,0.47,0.29,...,0.12,0.42,0.50,0.51,0.64,0.12,0.26,0.20,0.32,-0.163010
1,53,0.00,0.16,0.12,0.74,0.45,0.07,0.26,0.59,0.35,...,0.21,0.50,0.34,0.60,0.52,0.02,0.12,0.45,0.00,1.854288
2,24,0.00,0.42,0.49,0.56,0.17,0.04,0.39,0.47,0.28,...,0.14,0.49,0.54,0.67,0.56,0.01,0.21,0.02,0.00,0.824178
3,34,0.04,0.77,1.00,0.08,0.12,0.10,0.51,0.50,0.34,...,0.19,0.30,0.73,0.64,0.65,0.02,0.39,0.28,0.00,-0.506380
4,42,0.01,0.55,0.02,0.95,0.09,0.05,0.38,0.38,0.23,...,0.11,0.72,0.64,0.61,0.53,0.04,0.09,0.02,0.00,-0.892671

In [251]:
cols = list(data.columns)
cols.remove('target')
data[cols] = (data[cols] - data[cols].mean())/data[cols].std()

In [252]:
data.to_csv('data/processed/' + data_name + '.csv',index = False)

## Airfoil

In [253]:
data_name = 'airfoil'
data = pd.read_csv('data/original/airfoil.dat' ,sep = '\t', header = None)

In [254]:
cols = ['freq','angle','chord','velocity','thickness','target']

In [255]:
data.columns = cols

In [256]:
data['target'] = (data['target'] - data['target'].mean())/data['target'].std()

In [257]:
cols = list(data.columns)
cols.remove('target')
data[cols] = (data[cols] - data[cols].mean())/data[cols].std()

In [258]:
data.to_csv('data/processed/' + data_name + '.csv',index = False)

In [259]:
data.shape

(1503, 6)

In [260]:
data.head()

       freq     angle     chord  velocity  thickness    target
0 -0.661802 -1.146021  1.798701  1.312498   -0.64459  0.197873
1 -0.598362 -1.146021  1.798701  1.312498   -0.64459  0.052917
2 -0.519062 -1.146021  1.798701  1.312498   -0.64459  0.161634
3 -0.408041 -1.146021  1.798701  1.312498   -0.64459  0.399361
4 -0.281161 -1.146021  1.798701  1.312498   -0.64459  0.380517

## fish

In [261]:
data_name = 'fish'
data = pd.read_csv('data/original/fish.csv' ,sep = ';', header = None)

In [262]:
cols = ['C1C0','SM1','GATS','Nds','Ndss','MLO','target']

In [263]:
data.columns = cols

In [264]:
data['target'] = (data['target'] - data['target'].mean())/data['target'].std()

In [265]:
cols = list(data.columns)
cols.remove('target')
data[cols] = (data[cols] - data[cols].mean())/data[cols].std()

In [266]:
data.to_csv('data/processed/' + data_name + '.csv',index = False)

In [267]:
data.shape

(908, 7)

In [268]:
data.head()

       C1C0       SM1      GATS       Nds      Ndss       MLO    target
0  0.478610  0.468031  0.969835 -0.378427  0.597155 -0.457922 -0.202261
1 -0.937891 -0.113122 -1.092033 -0.378427 -0.563909 -0.531186 -0.652217
2 -1.022538  0.022247 -1.173188 -0.378427 -0.563909 -0.531186 -0.366443
3  0.170445 -0.694274  0.452466  1.273551 -0.563909 -0.210919 -0.380869
4 -1.063538  0.463363 -1.099641 -0.378427 -0.563909 -0.155797  0.910607

## fire

In [269]:
data_name = 'fire'
data = pd.read_csv('data/original/fire.csv' ,sep = ',')

In [270]:
data = pd.concat([pd.get_dummies(data['month'])
          ,pd.get_dummies(data['day'])
          ,data[['X', 'Y', 'FFMC', 'DMC', 'DC', 'ISI', 'temp', 'RH',
       'wind', 'rain', 'area']]],axis = 1)
data = data.rename(columns = {'area' : 'target'})

In [271]:
data['target'] = (data['target'] - data['target'].mean())/data['target'].std()

In [272]:
cols = list(data.columns)
cols.remove('target')
data[cols] = (data[cols] - data[cols].mean())/data[cols].std()

In [273]:
data.to_csv('data/processed/' + data_name + '.csv',index = False)

In [274]:
data.shape

(517, 30)

In [275]:
data.head()

,apr,aug,dec,feb,jan,jul,jun,mar,may,nov,...,Y,FFMC,DMC,DC,ISI,temp,RH,wind,rain,target
0,-0.132975,-0.74262,-0.132975,-0.200409,-0.062257,-0.256616,-0.184212,2.925319,-0.062257,-0.04398,...,0.569309,-0.805180,-1.322045,-1.828706,-0.860113,-1.840857,0.411326,1.497164,-0.073197,-0.201824
1,-0.132975,-0.74262,-0.132975,-0.200409,-0.062257,-0.256616,-0.184212,-0.341182,-0.062257,-0.04398,...,-0.243765,-0.008094,-1.178399,0.488418,-0.509195,-0.153130,-0.691786,-1.740070,-0.073197,-0.201824
2,-0.132975,-0.74262,-0.132975,-0.200409,-0.062257,-0.256616,-0.184212,-0.341182,-0.062257,-0.04398,...,-0.243765,-0.008094,-1.048806,0.560173,-0.509195,-0.738668,-0.691786,-1.516813,-0.073197,-0.201824
3,-0.132975,-0.74262,-0.132975,-0.200409,-0.062257,-0.256616,-0.184212,2.925319,-0.062257,-0.04398,...,1.382383,0.191177,-1.211188,-1.896429,-0.004751,-1.823636,3.230391,-0.009824,0.602572,-0.201824
4,-0.132975,-0.74262,-0.132975,-0.200409,-0.062257,-0.256616,-0.184212,2.925319,-0.062257,-0.04398,...,1.382383,-0.243597,-0.930142,-1.796859,0.126843,-1.289763,3.352959,-1.237741,-0.073197,-0.201824

In [276]:
data.columns

Index(['apr', 'aug', 'dec', 'feb', 'jan', 'jul', 'jun', 'mar', 'may', 'nov',
       'oct', 'sep', 'fri', 'mon', 'sat', 'sun', 'thu', 'tue', 'wed', 'X', 'Y',
       'FFMC', 'DMC', 'DC', 'ISI', 'temp', 'RH', 'wind', 'rain', 'target'],
      dtype='object')

## leaf

In [277]:
data_name = 'leaf'
data = pd.read_csv('data/original/leaf.csv' ,sep = ',',header = None)

In [278]:
cols = ['target','spec_num','eccentricity','aspect_ratio','elongation','solidity',
        'stochastic_convexity','isoperimetric_factor','maximal_indentation_depth',
        'lobedness','average_intensity','average_contrast','smoothness','third_moment',
        'uniformity','entropy']

In [279]:
data.columns = cols

In [280]:
cols = list(data.columns)
cols.remove('target')
data[cols] = (data[cols] - data[cols].mean())/data[cols].std()

In [281]:
data.to_csv('data/processed/' + data_name + '.csv',index = False)

In [282]:
data.shape

(340, 16)

In [283]:
data.head()

,target,spec_num,eccentricity,aspect_ratio,elongation,solidity,stochastic_convexity,isoperimetric_factor,maximal_indentation_depth,lobedness,average_intensity,average_contrast,smoothness,third_moment,uniformity,entropy
0,1,-1.525466,0.034016,-0.371679,-0.970434,0.708242,0.488559,1.400654,-0.847390,-0.500076,-0.098884,0.065854,-0.113557,-0.131357,-0.260646,0.022177
1,1,-1.236681,0.105015,-0.351864,-0.780234,0.674833,0.473348,1.229414,-0.832207,-0.499061,-0.755913,-0.656750,-0.694326,-0.608168,-0.724033,-0.796849
2,1,-0.947896,0.227380,-0.333858,-0.632879,0.640202,0.488559,1.272856,-0.774786,-0.494137,-1.096884,-1.293681,-1.045498,-0.945773,-0.809700,-1.229623
3,1,-0.659110,0.086965,-0.377258,-0.818069,0.623716,0.488559,1.313540,-0.789835,-0.495593,-0.984191,-1.138532,-0.974136,-0.901626,-0.743906,-0.982775
4,1,-0.370325,0.495201,-0.257599,-0.353509,0.635230,0.488559,1.028340,-0.775545,-0.494213,-1.206967,-1.527119,-1.135480,-1.013928,-0.843035,-1.402898